

{% extends 'base.html.twig' %}

{% block title %}Karim Ladhari{% endblock %}

{% block body %}

<div class="container-fluid d-flex align-items-center justify-content-center " style="padding:0">
  <div class="row justify-content-between " style="margin:0">

    <div class="col d-flex flex-column justify-content-between" style="padding:0;margin: 35px">

          <div class="card" style="background-color:rgba(65, 173, 252, 0.3);color:aliceblue ">
              <div class="card-header text-center">
                <h4 class="h4" style="margin:0px"><strong> OBJECTIF PROFESSIONNEL</strong></h4>
              </div>
              <div class="card-body">
                <p class="card-text">Chef de secteur expérimenté avec une solide expertise en gestion de rayons et d'équipes dans le domaine de la distribution spécialisée. Passionné par le commerce et la satisfaction client, je souhaite mettre mes compétences au service d’une entreprise dynamique où je pourrai contribuer à la croissance et à l’innovation. </p>
              </div>
          </div>
          
          <div class="card" style="background-color:rgba(65, 173, 252, 0.3) ; color:aliceblue">
              <div class="card-header text-center">
                <h4 class="h4" style="margin:0px"><strong>COMPETENCES</strong></h4>
              </div>
                <ul style="margin:16px; padding:15px">
                    <li>Personnelles : Dynamique, disponible, sociable, empathique, fédérateur, positif.</li>
                    <li>Professionnelles : Sens du commerce, qualités relationnelles et managériales, culture du possible.</li>
                    <li>Informatique : Maîtrise de l’environnement Windows, Microsoft Office (Access, Word, Excel, PowerPoint), internet.</li>
                    <li>Langues : Arabe.</li>
                </ul>
          </div>

          <div class="card" style="background-color:rgba(65, 173, 252, 0.3);color:aliceblue">
              <div class="card-header text-center">
                <h4 class="h4" style="margin:0px"><strong>FORMATION</strong></h4>
              </div>
                <p class="pad-ul" style="padding:15px">2005 : Niveau BAC STT (Sciences et Technologies Tertiaire) Centre International de Valbonne (06)</p>
          </div>
                
          <div class="card" style="background-color:rgba(65, 173, 252, 0.3);color:aliceblue">
              <div class="card-header text-center">
                <h4 class="h4" style="margin:0px"><strong>CENTRES D'INTERETS</strong></h4>
              </div>
                <ul style="margin:16px; padding:15px">
                    <li>Passer du temps avec mes enfants.</li>
                    <li>Courir.</li>
                    <li>Bricoler / jardiner.</li>
                    <li>Cuisiner.</li>
                    <li>Lire.</li>
                </ul>
          </div>
    </div>

    <div class="col-lg-4 d-flex flex-column justify-content-between"style="padding:0">
      <div class="flex-grow-1 d-flex flex-column justify-content-center">
        <p class="text-center" style="padding:0;margin: 35px"><i class="bi bi-chat-quote" style="display: inline-block; transform: rotateY(180deg);"></i>
          <em>Je suis convaincu que mes compétences et mon expérience en gestion de secteur et de rayons, ainsi que mon engagement envers la satisfaction client, font de moi un candidat idéal pour le poste de chef de secteur. Je serais ravi de pouvoir discuter plus en détail de la manière dont je pourrais contribuer à la réussite de votre entreprise.</em><i class="bi bi-chat-quote"></i></p>
      </div>

      <div class="flex-grow-1 d-flex flex-column justify-content-center ">
        <h2 class="text-center" style="margin:0"><strong>Chef de Secteur</strong></h2>
      </div> 

      <div class="container" style="padding:0">
        <div class="row justify-content-center align-items-center">
          <img src="{{ asset('images/photoprofil.jpg') }}" alt="Photo Karim Ladhari" class="rounded-image ">
        </div>
      </div> 

      <div class="flex-grow-1 d-flex flex-column justify-content-center ">
        <h1 class="text-center"><strong>Karim LADHARI</strong></h1>
      </div>

      <div class="flex-grow-1 d-flex flex-column justify-content-center" style="padding:0;margin: 35px">
        <ul style="margin:0;padding-left:90px">
          <p><i class="bi bi-geo-alt-fill" style="margin-right:10px"></i> 3 rue Maurice Utrillo, 93600 Aulnay-Sous-Bois</p>
          <p><i class="bi bi-phone" style="margin-right:10px"></i> 07.77.97.00.94</p>
          <p><i class="bi bi-envelope-at" style="margin-right:10px"></i> ladhari.karim@hotmail.fr</p>
          <p><i class="bi bi-person-bounding-box" style="margin-right:10px"></i> 38 ans, Marié, 5 enfants</p>
          <p><i class="bi bi-person-vcard" style="margin-right:10px"></i> Permis B</p>
          <p><i class="bi bi-envelope-at" style="margin-right:15px"></i><a href="www.linkedin.com/in/karim-ladhari-a20463288" target="_blank"> www.linkedin.com/in/karim-ladhari-a20463288</a></p>
        </ul>
      </div>  
  
    </div>


    <div class="col-lg-4 d-flex flex-column justify-content-between" style="padding:0">
      <div class="card" style="background-color:rgba(65, 173, 252, 0.3);color:aliceblue;padding:0;margin: 35px">
      <div class="card-header text-center">
        <h4 class="h4" style="margin:0px"><strong>EXPERIENCES PROFESSIONNELLES</strong></h4></div>
      <h5 class="h5">Chef de secteur jardin</h5>
      <p class="lieu-period"> Gonesse (95) - Depuis février 2022</p>
        <ul class="pad-ul small-text">
          <li>Gestion du secteur jardin : analyse et développement de l’activité commerciale.</li>
          <li>Pilotage de l’activité pour accroître les résultats.</li>
          <li>Suivi et analyse des indicateurs clés.</li>
          <li>Application et respect des processus (stockage, inventaires, planogrammes).</li>
          <li>Communication et fédération autour de la stratégie d’entreprise.</li>
          <li>Réunions hebdomadaires avec les chefs de rayons.</li>
          <li>Accompagnement d’alternants.</li>
          <li>Gestion des réclamations clients pour assurer leur satisfaction.</li>
          <li>Élaboration des plannings.</li>
          <li>Membre du comité de direction.</li>
          <li>Assurer les permanences cadres.</li>
        </ul>

        <h5 class="h5">Chef de secteur stagiaire secteur Technique</h5>
        <p class="lieu-period">Castorama Paris Place de Clichy (75) - Mars 2021 à février 2022</p>
        <ul class="pad-ul small-text">
          <li>Développement de l’activité commerciale et pilotage pour la croissance du résultat.</li>
          <li>Suivi et analyse des indicateurs clés.</li>
          <li>Application des processus (stockage, inventaires, planogrammes).</li>
          <li>Communication de la stratégie d’entreprise et fédération des équipes.</li>
          <li>Réunions hebdomadaires avec les chefs de rayons.</li>
          <li>Accompagnement d’alternants.</li>
          <li>Gestion des réclamations clients.</li>
          <li>Élaboration des plannings.</li>
          <li>Membre du comité de direction.</li>
          <li>Assurer les permanences cadres. </li>
        </ul>

        <h5 class="h5">Chef de rayon outillage/quincaillerie</h5>
        <p class="lieu-period">Castorama Paris Place de Clichy (75) - Mars 2016 à mars 2021 </p>
        <ul class="pad-ul small-text">
          <li>Management de 10 collaborateurs, incluant un chef de rayon alternant.</li>
          <li>Animation des ventes et performance commerciale.</li>
          <li>Approvisionnement et écoulement des stocks.</li>
          <li>Lutte contre la démarque.</li>
          <li>Intégration et formation des nouveaux collaborateurs.</li>
          <li>Élaboration des plannings.</li>
          <li>Accompagnement des alternants.</li>
        </ul>

        <h5 class="h5">Chef de rayon peinture/droguerie</h5>
        <p class="lieu-period">Castorama Paris Place de Clichy (75) - Novembre 2011 à mars 2016 </p>
        <ul class="pad-ul small-text">
          <li>Management de 6 collaborateurs et 1 équipier logistique.</li>
          <li>Référent peinture pour la région Paris Ouest.</li>
          <li>Membre du Comité d’Entreprise et du club Prim’Acteur.</li>
          <li>Élaboration des plannings.</li>
        </ul>

          <h5 class="h5">Chef de rayon peinture/droguerie</h5>
        <p class="lieu-period medium-text">Castorama Antibes (06) - Décembre 2009 à novembre 2011 </p>
        <ul class="pad-ul small-text">
          <li>Management de l’équipe (2 équipiers logistique et 6 vendeurs).</li>
          <li>Objectif CA, négociation avec les fournisseurs, et préparation de dynamiques commerciales.</li>
          <li>Optimisation de l’approvisionnement et gestion commerciale.</li>
          <li>Préparation et optimisation de l’inventaire.</li>
        </ul>


    </div>

  </div>
</div>

{% endblock %}
